.managerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.managerPage h1 {
  margin-bottom: 1rem;
}
.managerPage .form-group {
  display: flex;
  flex-direction: column;
}
.managerPage .form-group select {
  margin-bottom: 1rem;
}
.managerPage .submit-button {
  margin-top: 1rem;
}
